.header-icon {
    width: 22px;
    height: 22px;
}

.border-style {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.has-issue-layout {
    display: grid;
    gap: 0.25rem;
    overflow-x: hidden;
    min-width: 18rem;
    align-content: start;
}

.no-issue-layout {
    display: grid;
    gap: 1.8rem;
    overflow-x: hidden;
    min-width: 18rem;
}

.add-btn {
    color: var(--colorBrandForeground1);
    margin-left: 0.35rem;
    padding: 0;
}

.issue-input {
    border: none;
    border: none;
    outline: medium;
    height: 1.75rem;
    margin-left: -0.35rem;
    font-size: 0.875rem;
    color: var(--colorNeutralForeground1);
}

input::placeholder {
    color: var(--colorBrandForeground1) !important;
}

.issue-input-focused {
    grid-template-columns: 1fr max-content !important;
    background-color: var(--colorNeutralBackground6);
}

.issue-input-unfocused {
    grid-template-columns: max-content 1fr max-content;
    background-color: var(--colorNeutralBackground3);
}

.add-issue-container {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 1rem;
    align-items: center;
    border-radius: 4px;
    height: 2.25rem;
    padding-left: 0.875rem;
    padding-right: 0.7rem;
}

.add-btn-enter {
    border-radius: 4px;
    width: max-content;
    height: 1.5rem;
    border: none;
    font-weight: 600;
    text-align: center;
    background-color: var(--colorNeutralStroke1Hover);
}

.add-btn-leave {
    border-radius: 4px;
    width: max-content;
    height: 1.5rem;
    border: none;
    font-weight: 600;
    text-align: center;
    background-color: var(--colorNeutralStrokeOnBrand2);
}

.existing-issue-layout {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1rem;
    align-items: center;
    background-color: var(--colorNeutralBackground3);
    border-radius: 4px;
    padding-left: 0.875rem;
    padding-right: 0.7rem;
}

.issue-item-left-layout {
    display: grid;
}

.bug-icon {
    width: 12px !important;
    height: 16px !important;
}

.issue-content-layout {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-content: start;
    gap: 0.635rem;
}

.issue-desc {
    font-weight: 400 !important;
    font-size: 0.75rem !important;
    line-height: 1.25rem !important;
    color: var(--colorNeutralForeground3);
    overflow-x: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.issue-share-btn {
    align-self: self-start;
    color: var(--colorNeutralForeground3) !important;
}
