.open-ai-widget {
   grid-template-rows: max-content 1fr;
}

.ai-layout {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 1.25rem;
    overflow-x: auto;
}

.question-input-layout {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 0.875rem;
    align-items: center;
}

.question-input-content {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1rem;
    align-items: center;
    border-radius: 4px;
    height: 2.75rem;
    padding-left: 1.125rem;
    padding-right: 0.75rem;
    border: 1px solid var(--colorNeutralStroke1);
}

.question-input {
    border: none;
    border: none;
    outline: medium;
    height: 2.5rem;
    font-size: 0.875rem;
    background-color: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
}

.answer-layout {
    display: grid;
    gap: 1rem;
    align-content: start;
    height: 100%;
    overflow-x: auto;
}

pre {
    margin: 0;
}

code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 0.25rem 1rem 1rem 1rem;
}

.answer-content {
    width: 100%;
    height: max-content;
    border-radius: 4px;
    background-color: var(--colorNeutralBackground3);
}
